body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box{
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Hero{
  background-color: rgb(168, 176, 176);
}
.btn{
  background-color: bisque;
  color:black;
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
.box{
  background-color: rgb(138, 150, 146);
  border-radius:10px;

}
.display input{
margin: 10px;
padding: 15px;
border-radius: 10px;
font-size: 16px;
}
.btn1{
  padding: 10px 70px;
   background-color: bisque;
   border-radius: 10px;
   margin: 10px;
}
.btn2{
    background-color: bisque;
  color:black;
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
}