body{
  font-family: Arial, sans-serif;
  background: #4d454b;
  margin: 0;
  color: white;
}
.container{
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.profile{
padding: 50px;
   
}
.social-icon{
       padding: 15px;
    justify-content: space-between;
        
}
.social-icon{
    color: azure;
font-size: 32px;

}
.social-icon:hover{
  color:#2196f3;
  font-weight: 500px;
  font-size: 40px;

}
.profile-img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow:0 0 10px rgb(153, 89, 222);
}

.skills-a{
padding: 5px;
margin: 8px;
justify-content: space-between;
text-align: center;
background-color:#91888e;
border-radius: 8px;

}
.btn{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-weight:700;
}
 .btn:hover{
       background-color:#4ea8f1;
 } 

.footer-box2 form{
  display: flex;
  justify-content: space-around;
  background-color: #a14c85;
}



.hero{
  text-align: center;
}
.card-skill{
  text-align: center;
  border: 1px solid white;
}
.card{
  display: flex;
}
.card-s{
  display: flex;
  flex-direction:row;
}
.skill-b{
padding: 5px;
margin: 8px;
justify-content: space-between;
text-align: center;
background-color:#91888e;
border-radius: 8px;
}
.skill-b:hover{
color:rgb(151, 215, 194);
  font-weight:100;
  font-size: 15px;
}
.skills-a:hover{
color:rgb(95, 70, 224);
  font-weight:100;
  font-size: 15px;
}
.footer{
  background-color: #111;
  width: 100%;
  padding: 50px 0;
  
}
.footr-container{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  color: #fff;

}
.pro-p{
display: flex;
flex-direction: column;
}
.pro{
  text-align: center;
}
.proo{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-around;
 
};