body{
  font-family: Arial, sans-serif;
  background: #1f242d;
  margin: 0;
  color: white;
}
.container{
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.profile{
padding: 50px;
   
}
.social-icon{
       padding: 20px;
    justify-content: space-between;
       color: azure;
      font-size: 18px;
      border-radius: 50%;
    border: 2px solid #acadae;
    margin: 20px;
}
.social-icon:hover{
  color:#2196f3;
  font-weight: 400px;
  font-size: 20px;
  box-shadow: 0 0 30px #4ea8f1 ;
}
.profile-img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow:0 0 10px rgb(13, 29, 243);
}
.profile-img:hover{
  box-shadow: 0 0 30px #4ea8f1 ;
}

.skills-a{
padding: 5px;
margin: 8px;
justify-content: space-between;
text-align: center;
background-color:#91888e;
border-radius: 8px;

}
.btn{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-weight:700;
  color: #1f242d;
  margin-top: 15px;
 margin-left: 300px;
 
}
.btn-c{
    width: 100px;
  height: 35px;
  border-radius: 20px;
  font-weight:500;
}
.btn-c:hover{
background-color:#bad8f0;
 box-shadow: 0 0 30px #4ea8f1 ;
}
 .btn:hover{
       background-color:#4ea8f1;
       
       box-shadow: 0 0 30px #4ea8f1 ;
 } 
.footer-box1{
  margin-left: 100px;
}
.footer-box2{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 100px;
}
.footer-full{
  margin-left: 100px;
}
.footer-c{
    border-radius: 8px;
    border: 2px solid #434445;
}
.hero{
  text-align: center;
}
.card-skill{
  text-align: center;
  border: 1px solid white;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px  white;
}
.card-f{
  text-align: center;
  border: 1px solid white;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px  white;
}
.card{
  display: flex;
}
.card-s{
  display: flex;
  flex-direction:row;
}
.skill-b{
padding: 5px;
margin: 8px;
justify-content: space-between;
text-align: center;
background-color:#91888e;
border-radius: 8px;
}
.skill-b:hover{
color:rgb(151, 215, 194);
  font-weight:100;
  font-size: 15px;
  box-shadow: 0 0 30px #4ea8f1 ;
}
.skills-a:hover{
color:rgb(151, 215, 194);
  font-weight:100;
  font-size: 15px;
  box-shadow: 0 0 30px #4ea8f1 ;
}
.footer{
  background-color: #111;
  width: 100%;
  padding: 50px 0;
  
}
.footr-container{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  color: #fff;
  margin-top: 100px;
}
html{
  scroll-behavior: smooth;
}
.pro-p{
display: flex;
flex-direction: column;
text-align: center;
  border: 1px solid white;
  height: 130px;
  width: 250px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px  white;

}
.pro-t{
  display: flex;
flex-direction: column;
text-align: center;
  border: 1px solid white;
  height: 130px;
  width: 250px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px  white;
}
.pro-m{
  display: flex;
flex-direction: column;
text-align: center;
  border: 1px solid white;
  height: 130px;
  width: 250px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px  white;
}
.pro{
  text-align: center;
  margin-top: 100px;
}
.proo{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-around;
 
};