<!DOCTYPE html>
<html>
    <heade>
        <title> About page</title>
    </heade>
    <body>
        <h1>About</h1>
        <% users.forEach((user)=>{ %>
     <p>Name: <%= user.name %></p>
            <% })%>
        </body>
</html>