*{
    margin: 0;
    background-color:azure;
}

.header-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 84px;
    width: 1440px;
    background-color:#F5F7FA;
    
}
.log img{
    width: 154px;
    background-color:#F5F7FA
}
.header-linkfirst{
  display: flex;
  gap: 50px;
  background-color: #F5F7FA;
}
.header-link{
    color: black;
    text-decoration: none;
    gap: 50px;
    background-color: #F5F7FA;
}
.loginbtn{
    color: #4CAF4F;
    text-decoration: none;
    background-color: #F5F7FA;
}
.btn{
    background-color: #4CAF4F;
    color: #FFFFFF;
    padding: 10px 20px;
     border-radius: 6px;
     text-decoration: none;
     gap: 10px;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #F5F7FA;


}
.hero-box{
    display: flex;
    gap: 104px;
    align-items: center;
    background-color: #F5F7FA;
    width: 1440px;
    height: 599px;

}
.hero-img{

    width: 391px;
    height: 407px;
    background-color: #F5F7FA;
    
}
.hero-left{
    order: 2;
    background-color: #F5F7FA;
}
.hero-right{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #F5F7FA;
    margin-left: 100px;


}
span{
    color: #4CAF4F;
    background-color: #F5F7FA;
}
.text{
    
    width: 627px;
    color: #4D4D4D;
    font-size: 64px;
    background-color: #F5F7FA;

}
.text-2{
   
    color: #717171;
    height: 24px;
    font-size: 16px;
    background-color: #F5F7FA;

}
.Register-btn{
    padding: 14px 32px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    gap: 10px;
    border-radius: 4px;
    text-decoration: none;
    align-self: self-start;

}
.inlineBox-1{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 16px;
    
    height: 190px;
    width: 1440px;
    background-color: #FFFFFF;
    

}
.inlineBox-text{
   gap: 8px;
   align-items: center;
   flex-direction: column;
   display: flex;
   width: 1440px;
   background-color: #FFFFFF;
}
.inline-title{
    color: #4D4D4D;
    font-size: 36px;
    background-color: #FFFFFF;
    

}
.inline-p{
    color: #717171;
    font-size: 16px;
    align-items: self-start;
    background-color: #FFFFFF;

}
.inlineBox-icon{
    display: flex;
    justify-content: space-between;
   width: 1152px;
    height: 98px;
    background-color: #FFFFFF;

}
.img-icon{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.inlineBox-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 120px;
    width: 1440px;
    gap: 8px;

}
.inlineBox-h2{
    color: #4D4D4D;
   font-size: 36px;
    text-align: center;
    height: 88px;
    width: 542px;
    background-color: #FFFFFF;
}
.inlineBox-p2{
    color: #717171;
    height: 24px;
  font-size: 16px;
    text-align: center;
    background-color: #FFFFFF;

}
.inlineBox-section{
    display: flex;
     
    justify-content: space-between;
    height: 280px;
    padding: 40px 0px;
    width: 1440px;
    background-color: #FFFFFF;
    text-decoration:#ABBED133;
    text-align: center;
    align-items: flex-start;
    gap: 40px;
}
.inlineBox-card{
     flex-direction: column;
      display: flex;
    align-items: center;
   height: 260px;
   background-color: #FFFFFF;
    border-radius: 8px;
   min-width: 250px;
   text-align: center;
   margin-left: 100px;
   margin-right: 100px;
   
}
    
.heroimg-1{
    height: 56px;
    background-color: #FFFFFF;
}
.inline-h2{
    height: 72px;
    background-color: #FFFFFF;
}
.inline-p2{
    height: 60px;
    gap: 8px;
    background-color: #FFFFFF;
}
.inline-hh2{
    height: 72px;
     background-color: #FFFFFF;
}
.inline-p3{
   height: 80px;
   background-color: #FFFFFF;
}
.inline-hh3{
    height: 72px;
    background-color: #FFFFFF;
}
.inline-p4{
    height: 60px;
    gap: 8px;
     background-color: #FFFFFF;
}
.inline-sec{
    display: flex;
   background-color: #FFFFFF;
   width: 1440px;
}
.img-2{
    width: 442px;
    background-color: #FFFFFF;
    margin-left: 100px;
    
}
.inline-sec2{
    display: flex;
 flex-direction:column ;
   text-align: center;
   justify-content: space-between;
   height: 180px;
   width: 660px;
   gap: 20px;
   margin-top: 80px ;
   
   margin-left: 100px;
  background-color: #FFFFFF;
   
}
.inline-card{  
    height: 50px;
    text-align:start;
   background-color: #FFFFFF;
}
.card-p{
 height: 80px;
 text-align:start;
 background-color: #FFFFFF;
}
.more-btn{
    padding: 14px 32px ;
    gap: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    width: 80px;
}
.local1{
    display: flex;
    
    justify-content: space-between;
    height: 288px;
    width: 1440px;
    background-color: #F5F7FA;

}
.local-box{
    
    height: 120px;
    width: 540px;
    margin-top: 80px;
    gap: 8px;
    margin-left: 90px;
    background-color: #F5F7FA;
     
}
.help{
font-size: 36px;
background-color: #F5F7FA;

}
.business{
    color: #4CAF4F;
    font-size: 36px;
    background-color: #F5F7FA;
}
.hard{
    background-color: #F5F7FA;
}
.box-four{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    height: 160px;
    width: 540px;
    margin-top: 60px;
    gap: 40px;
    background-color: #F5F7FA;
}
.first-img{
     background-color: #F5F7FA;
    
}
.img-22{
    width:48px ;
    height:48px ;
     background-color: #F5F7FA;
}

.box-one2{
    display: flex;
    gap: 30px;
    width: 540px;
    height: 60px;
    background-color: #F5F7FA;
}
.box-1{
    display: flex;
     background-color: #F5F7FA;
}
.first{
     background-color: #F5F7FA;
    
}
.img-1{
     background-color: #F5F7FA;
}
.first-1{
     background-color: #F5F7FA;
    
}
.num-1{
     background-color: #F5F7FA;
}
.mem-p{
     background-color: #F5F7FA;
}

.box-2{
    display: flex;
    align-items: center;
    gap: 30px;
    height: 60px;
    width: 540px;
     background-color: #F5F7FA;
}
.box-three4{
    display: flex; 
    gap: 30px;
    width: 540px;
    height: 60px; 
   background-color: #F5F7FA;
}
.middle{
   background-color: #F5F7FA;
      
}
.img-3{
    width: 48px;
    height: 48px;
     background-color: #F5F7FA;    
}
.middle-1{
     background-color: #F5F7FA;
    
}
.num-3{
     background-color: #F5F7FA;
}
.mem-e{
     background-color: #F5F7FA;
}
.img-4{
     background-color: #F5F7FA;
}
.num-4{
     background-color: #F5F7FA;
}
.mem-pa{
     background-color: #F5F7FA;
}
.end{
    background-color: #F5F7FA; 
}
.end-1{
     background-color: #F5F7FA;
}

.section-2{
    display: flex;
    width: 1440px;
    height: 433.4px;
    background-color: #FFFFFF;
    justify-content: row;
    gap: 120px;
}
.sec-img{
    width: 441.53px;
    height: 433.4px;
    margin-left: 160px;
     background-color: #FFFFFF;


}
.sect-2{
 justify-content: space-between;
 height:308px;
 width: 661px;
 gap: 32px;
 margin-top: 62.7px;
 background-color: #FFFFFF;
}
.sect-h2{  
    height: 88px;
  
   background-color: #FFFFFF;
}
.sect-p{
 height: 120px;
 text-align:start;
 background-color: #FFFFFF;
 margin-bottom: 30px;
}
.mor-btn{
    padding: 14px 32px;
    gap: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    align-self: self-start;
    

}
.tesla{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    height: 390px;
    width: 1440px;
    gap: 78px;
    background-color: #F5F7FA;
}

.tesla-img{
    height: 326px;
    width: 326px;
    border-radius: 8px;
    margin-top: 32px;
    margin-left: 20px;
     background-color: #F5F7FA;

    
}
.tesla-1{
    height: 324px;
    width: 748px;
    gap: 32px;
   align-items: center;
   margin-top: 33px;
   margin-right: 144px;
   flex-direction: column;
   background-color: #F5F7FA;
}
.tesla-text{
       gap: 16px;
        background-color: #F5F7FA;
        height: 244px;
        width: 748px;
   
}
.black-1{
    text-align: start;
    background-color: #F5F7FA;

}
.tim-s{
    color: #4CAF4F;
        background-color: #F5F7FA;

}
.british-d{
        background-color: #F5F7FA;

}
.logos-box{
        background-color: #F5F7FA;
        gap: 32px;
        width: 748px;
        height: 48px;
       }
.meet{
    color: #4CAF4F;
     background-color: #F5F7FA;
    
}
    .first-second-table{
        display: flex;
           flex-direction: column;
           height: 506px;
           width: 1440px;
           gap: 16px;
            background-color:#FFFFFF;

}
    .first-table{
        height: 124px;
        width: 1110px;
        gap: 8px;
        text-align: center;
       background-color:#FFFFFF;


    }
    .marketingn{
     align-items: center;
      background-color:#FFFFFF;

    }
    .nexcentt{
      align-items: center;
       background-color:#FFFFFF;

    }
.second-table{
display: flex;
flex-direction: row;

height: 366px;
width: 1440px;
gap: 20px;
margin-left: 140px;
margin-right: 140px;
}
.textone-box{
    text-align: center;
    height: 176px;
    width: 317px;
     background-color:#FFFFFF;

}
.small-box{
    background-color:#FFFFFF;

}
.secoond-box{
 background-color:#FFFFFF;

}
.texttwo-box{
    text-align: center;
    height: 176px;
    width: 317px;
    gap: 16px;
    padding: 16px;
     background-color:#FFFFFF;

}

.textthree-box{
    align-items: center;
    height: 176px;
    width: 317px;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
     background-color:#FFFFFF;

    
}
.third-box{
    text-align: center;
    background-color: #F5F7FA;

}
.box-arrow{
    display: flex;
    flex-direction: row;
    height: 44px;
    width: 285px;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: #F5F7FA;
}

.readd{
    text-align: center;
    font-size: 20px;
    color: #4CAF4F;
    margin-left: 100px;
    background-color: #F5F7FA;


    }
.arrowone{
    color: #4CAF4F;
    height: 24px;
    width: 24px;
    background-color: #F5F7FA;
 
}
.container-one{
    position: relative;
    display: inline-block;
}
.veiw{
    width: 368px;
    display: block;
}
.textone-box{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.container-two{
    position: relative;
    display: inline-block;
}
.veiw-one{
    width: 368px;
    display: block;
}
.texttwo-box{
    position: absolute;
    bottom: 4px;
    left: 5px;
}
.container-three{
    height: 366px;
    width: 368px;
    position: relative;
    display: inline-block;
}
.veiw-two{
    width: 368px;
    display: block;
}
.textthree-box{
    position: absolute;
    bottom: 4px;
    left: 5px;
}
.subs{
     display: flex;
     align-items: center; 
     height: 300px;
     width: 1440px;
     flex-direction: column;
    background-color: #F5F7FA;
    padding: 32px 32px;
    gap: 32px;

}
.pell{
    width: 887px;
    height: 152px;
    font-size: 64px;
    text-align: center;
    background-color: #F5F7FA;
}
.demo-arrow{
    display: flex;
flex-direction: row;
height: 52px;
width: 178px;
background-color: #4CAF4F;
align-items: center;
padding: 14px 32px 14px 32px;
border-radius: 4px;
}
.get-demo{
        text-align: center;
    color: #FFFFFF;
    background-color: #4CAF4F;
}

.arrowonee{
    height: 16px;
    width: 16px;
    background-color: #4CAF4F;
    color: #FFFFFF;
}
 .blak-box{
            display: flex;
            height: 328px;
            width: 1440px;
            background-color: #263238;
            flex-direction: row;
            gap: 125px;
        }
.black-one{
   background-color: #263238; 
   height: 189.67px;
   width: 350px;
   gap: 40px;
   margin-top: 70px;
   margin-left: 70px;
}
.copyb{
    color: #FFFFFF;
        background-color: #263238;

}
.allr{
    color: #FFFFFF;
  background-color: #263238;
}
.black-two{
    display: flex;
    flex-direction:row;
    background-color: #263238;
   width: 635px;
   height: 200px;
   margin-top: 70px;
      gap: 30px;
}
.blackone-two{
    color: #FFFFFF;
    background-color: #263238;
    width: 160px;
    height: 200px;
    gap: 24px;
}
.com-p{
    background-color: #263238;
    width: 160px;
    height: 28px;
}
.com-pp{
    background-color: #263238;
}

.blacktwo-two{
    color: #FFFFFF;
    background-color: #263238;
    width: 160px;
    height: 200px;
    gap: 24px;
}
.com-p{
    background-color: #263238;
    width: 160px;
    height: 28px;
}
.com-pp{
    background-color: #263238;}
 .blackthree-two{
    color: #FFFFFF;
    background-color: #263238;
    width: 160px;
    height: 200px;
    gap: 24px;
}
.email-icon{
    display: flex;
        background-color: #263238;
        flex-direction: row;
        width: 255px;

}
  .com-ppp{
    color: #FFFFFF;
    background-color:#717171 }
    .iconlogo{
        background-color: #263238;}
    